@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    height: 100%;
}

body{
    background-color: #F3EFEC;
}

.navbar{
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .02);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cart-widget{
    font-size: 3rem;
}

.contador-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.greeting{
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    text-align: center;

    color: black;
}

.contador{
    width: 250px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

    font-size: 2rem;
    font-family: 'Roboto Mono';
    font-weight: 700;
    
    border: 2px solid black;
    border-radius: 16px;
}

.btn-cont{
    height: 40px;
    width: 40px;
    background-color: rgb(132, 214, 132);
}

.counter{
    text-align: center;
    width: 40px;
    height: 40px;
}

.btn-confirm{
    width: 100px;
    height: 40px;
    border-radius: 0;
    background-color: pink;
    text-transform: uppercase;
}

.ham-ico{
    z-index: 10;
    color:rgb(148, 148, 148);
    font-size: 3rem;
}

.aside-menu{
    z-index: 9;
    position: absolute;
    padding-top: 6rem;
    height: 100vh;
    width: 250px;
    left: 0;
    top: 0;
    
    display: flex;
    flex-direction: column;
    gap:1rem;
    
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    text-decoration: none;
    color: white;
    
    background-color: #222222;
    border-right: 1px solid #1e1e1e;

    box-shadow: 3px 0 2px rgba(0, 0, 0, .5);

    transform: translateX(-102%);
}

.navbar-link{
    margin-left: 1.3rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-transform: capitalize;
}

.navbar-link:hover{
    color: white;
    background-color: white;
}

.main{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 3rem;
    padding: 1rem;
}
.main-article{
    font-size: 1rem;
}


.card-promo-container{
    margin: 2rem 10rem 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.card{
    position: relative;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.card-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    width: 100%;
    padding: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    position: absolute;
    color: white;
    background-color: rgba(250, 250, 250, .2);
}
.card-img{
    border-radius: 16px;
}
.card-description{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 1rem;
    background-color: rgba(217, 217, 217, .5);
    position: absolute;
    bottom: 0;
    color: black;
    /* border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px; */
}

.CardDisciplineContainer{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
}

.card-discipline{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 16px;
    height: 100%;

}

.card-dis-img{
    width: 330px;
}

.card-dis-title{
    font-family: 'Poppins';
    font-size: 2.2rem;
    font-weight: 500;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color: white;
}

.catalog-container{
    display: flex;
    overflow-x: scroll;
    align-items: center;

}
.prod-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .2rem;
}

.prod-card{
    border-radius: 16px;
}

.prod-img{
    border-bottom-left-radius : 16px;
    border-bottom-right-radius : 16px;
    object-fit: cover;
    width: 250px;
    height: 350px;
}

.prod-name{
    font-size: 1rem;
}


.detail-container{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-title{
    font-size: 2rem;
}

.detail-img{
    width: 300px;
}
